@import "src/assets/variables.scss";

.button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 3px;
    padding: 5px 15px;

    &.primary {
        background-color: $primary; /* Green */
    }
}
