@import "src/assets/variables.scss";

.root {
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);

    .content {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        backdrop-filter: blur(16px);

        .productName {
            font-family: "Lato";
            font-weight: bold;

            /* center text vertically */
            display: inline-flex;
            align-items: center;
        }

        .downloadBtn {
            border: none;
            color: white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            border-radius: 999px;
            padding: 5px 15px;

            background-color: $primary; /* Green */
        }
    }
}
