
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Roboto&display=swap');

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #f5f4f1;
}
