@import "src/assets/variables.scss";

.content {
    display: flex;
    flex-direction: column;
    gap: 128px;

    margin-top: 128px;

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .heading {
        color: #333333;
        text-align: center;
    }

    h1 {
        font-size: 72px;
    }

    h2 {
        font-size: 38px;
    }

    .detailed {
        text-align: center;
        color: #333333;

        max-width: 400px;
    }

    .softwareScreenshot {
        margin-top: 30px;
        border-radius: 9px;
    }

    .muted {
        font-size: 12px;
        color: #333333;
        max-width: 250px;
        text-align: center;
    }

    .downloadBtn {
        text-decoration: none;
        background-color: $primary;
        color: white;

        height: 56px;
        padding: 0px 40px;

        /* center text vertically */
        display: inline-flex;
        align-items: center;

        border-radius: 999px;

        transition: all 150ms ease;

        &:hover {
            box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
        }
    }

    .githubBtn {
        border-radius: 9999px;
        transition: all 150ms ease;

        &:hover {
            box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
        }
    }
}
